* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: auto;
}
nav ul {
  width: 100%;
  height: 15vh;
  background-color: rgb(16, 5, 5);
  color: rgb(243, 245, 247);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  color: rgb(243, 245, 247);

  text-transform: capitalize;
  padding: 15px;
  cursor: pointer;
  font-size: 22px;
  text-decoration: none;
}
.nav-link.active {
  color: aqua;
  text-decoration: line-through;
}
.blog {
  border: 1px solid;
  padding: 30px;
}
.blogs-container {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}
